@tailwind base;
@tailwind components;
@tailwind utilities;


#start-page{
  background-color:linear-gradient(to right, rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
  text-shadow:10cm;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(to right, rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));

}

  

